<!-- Modern Header -->
<header class="header py-3 px-0"> <!-- Remove horizontal padding -->
  <div class="container-fluid px-4"> <!-- Use container-fluid and add padding -->
    <div class="d-flex justify-content-between align-items-center">
      <!-- Logo on Left Corner -->
      <a class="logo" href="/">
        <img src="images/logo-transparent2.png" width="220" height="auto" alt="" style="border: none;">
      </a>

      <!-- Title, Social Icons, and Phone Number on Right Corner -->
      <div class="d-flex flex-column align-items-end gap-2">
        <!-- Header Title -->
        <h4 class="text-white mb-0">Find More</h4>

        <!-- Social Icons and Phone Number -->
        <div class="d-flex align-items-center gap-2">
          <!-- Social Icons -->
          <div class="d-flex align-items-center gap-2">
            <a class="nav-link text-white" href="https://www.facebook.com/profile.php?id=61569756086455" target="_blank">
              <img src="icons/facebook.png" class="icon" style="border: none;" alt="Facebook" >
            </a>
            <a class="nav-link text-white" href="https://www.instagram.com/dojointernational/" target="_blank">
              <img src="icons/instagram.png" class="icon" alt="Instagram" style="border: none;">
            </a>
          </div>

          <!-- Call Icon and Phone Number -->
      
            <a class="nav-link" href="tel:9847398691" class="phone-number">
              <img src="icons/phone2.png" class="icon" alt="phone" style="border: none;">
              <i class="fas fa-phone"></i> <!-- Font Awesome call icon -->
              <span>9847398691</span>
            </a>
         
          
        </div>
      </div>
    </div>
  </div>
</header>