<% layout('layouts/boilerplate') %> <!-- Specify the layout file -->

<div class="slideshow-container">
    <!-- Slides -->
    <div class="mySlides fade">
      <img src="images/dojo_banner1.png" alt="Image 1" style="width:100%">
    </div>
    <div class="mySlides fade">
      <img src="images/free_trial_class.jpg" alt="Image 2" style="width:100%">
    </div>
    
  
    <!-- Next and Previous Buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  
  <!-- Dots Navigation -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>




  <div class="container">
    <div class="row">
        <div class="content">
            <p class="highlight-text">
                <strong>Dojo International</strong> is Nepal's leading consultancy, dedicated to empowering students and professionals on their journey to Japan. From expert-led Japanese language training to seamless visa processing, we provide comprehensive support to ensure a smooth transition.
            </p>
            <p>
                Our team of seasoned advisors and language specialists guides you through every step—helping you meet Japan’s academic and professional standards with confidence. We prioritize quality, integrity, and personalized service, making us a trusted partner in your success.
            </p>
            <p class="cta">
                <em>At Dojo International, we open doors to new opportunities, bridge cultures, and create pathways to success.</em>
            </p>
            <p class="journey">
                <strong>Your journey to Japan starts here!</strong>
            </p>
        </div>
    </div>
</div>



</div>

</div>

